*.log
*.[oa]
!lib.a
*.depend
*.map
*.lds.debug
u-boot
u-boot-iTOP-4412.bin
u-boot.bin
u-boot.lds
u-boot.srec
*/sdfuse_q/add_padding
*/sdfuse_q/add_sign
*/sdfuse_q/chksum
*/lowlevel_init.S
*/cpu_init.S
